language: julia

julia:
  - 1.0
  - nightly

os:
  - linux
  - osx

notifications:
  email: false

before_script:
  - export PATH=$HOME/.local/bin:$PATH

branches:
  only:
    - staging
    - trying
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --project --check-bounds=yes -e 'using UUIDs; write("Project.toml", replace(read("Project.toml", String), r"uuid = .*?\n" =>"uuid = \"$(uuid4())\""));
                                           import Pkg; Pkg.build(); Pkg.test(; coverage=true)'

after_success:
  - julia --project -e 'import Pkg; Pkg.add("Documenter"); include("docs/make.jl")'
  - julia --project -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'

